/*Dandole tipo de letra a todo el documento*/

body{
  font-family: sans-serif;
}
nav{
  /*outline:1px solid yellow;*/
}
/* el tamaño que tendran nuestras ventanas interactivas,color de fondo se le da overflow para que al aplicar float no altere 
su estructura*/

ul{
  /*outline: 1px solid red;*/
  list-style: none;
  padding:0
  margin:0;
  background: #2e2e2a;
  line-height: 40px;
  overflow: auto;
}
/*Indicando que el texto de nuestro listado este alineado al centro y con float le decimos que nuestras ventanas se alinien hacia 
la izquierda*/
li{
  /*outline:1px solid red;*/
  width:100px;
  /*display: inline-block;*/
  text-align: center;
  float: left;
}
a{
  /*outline:1px solid green;*/
  text-decoration: none;
  color:#fff;
  display: block;
}
/*le indicamos que al momento de pasar el mouse por encima de nuestras ventanas interactivas estas cambien el color texto y el color
de fondo*/
a:hover {
  background: #f9a91a;
  color: #000;

}
